<div class="jumbotron">
  <h1>Love to share music?</h1>
  <p>See someone bobbing to music on the other side of the room? ... if you want to know what he or she's listening to, music currently playing on BLE compatible devices are below.
</div>
<ul id="tabList" class="nav nav-tabs nav-justified" role="tablist">
  <li class="active"><a id="tabSong" data-toggle="tab" href="#songSharing">Song Sharing</a></li>
  <li><a id="tabTeam" data-toggle="tab" href="#team">Team Players</a></li>
  <li class="disabled"><a href="#">Stream Sharing (Coming Soon!)</a></li>
</ul>
<div id="tabContent" class="tab-content">
  <div id="songSharing" class="tab-pane active">
    <div class="container">
      
      <ul>
        <li>John Legend - All of Me</li>
        <li>Idina Menzel - Let It Go</li>
        <li>Maroon 5 - Maps</li>
        <li>Magic! - Rude</li>
      </ul>
    </div>
  </div>
  <div id="team" class="tab-pane">
    <ol>
      <li>Evan Lok</li>
      <li>Oren Yeshua</li>
      <li>Stephanie Liao</li>
      <li>John Murphy</li>
      <li>Alex L-R</li>
    </ol>
  </div>
</div>